Repository rashtay/react-beej: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, git add ., stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix",
    "git add ."
  ],
  "*.css": [
    "stylelint --fix",
  ],
}

Successfully type check js files
  .flowconfig
  src/App.js
Due: prettier --write, eslint --fix, git add .

Remove unnecessary files and folders
  src/App.js
  src/Test/index.js
  src/styles/App.css
Due: prettier --write, eslint --fix, git add ., stylelint --fix

Set up basic routing
  .eslintrc.js
  .lintstagedrc
  package-lock.json
  package.json
  src/App.js
  src/App.test.js
  src/action-type.js
  src/actions/article.js
  src/actions/user.js
  src/assets/images/jpg/me.jpg
  src/assets/images/svg/logo.svg
  src/components/Comp1/index.js
  src/components/Comp2/index.js
  src/components/Comp3/index.js
  src/components/NotFound/index.js
  src/components/index.js
  src/routes/index.js
  src/selectors/user.js
  src/serviceWorker.js
  src/utils/api.js
  src/utils/query-params.js
  yarn.lock
Due: prettier --write, eslint --fix, git add .

Dynamically load components (code splitting)
  .lintstagedrc
  package.json
  src/components/AsyncImport/index.js
  src/components/index.js
  src/containers/Comp1.js
  src/containers/Comp2.js
  src/containers/Comp3.js
  src/containers/index.js
  src/routes/index.js
  yarn.lock
Due: prettier --write, eslint --fix, git add .

set up dynamic routing
  src/components/index.js
  src/routes/async-import.js
  src/routes/index.js
Due: prettier --write, eslint --fix, git add .

Configure redux
  .eslintrc.js
  flow-typed/libdefs.js
  package.json
  src/App.js
  src/config-store.js
  src/index.js
  src/reducers/article.js
  src/reducers/index.js
  src/reducers/user.js
  yarn.lock
Due: prettier --write, eslint --fix, git add .

Fix: Redux persist flow issues
  .huskyrc
  flow-typed/libdefs.js
Due: prettier --write, eslint --fix, git add .

Fix: Redux persist flow issues
  flow-typed/libdefs.js
Due: prettier --write, eslint --fix, git add .

Create todo action and reducer
  .flowconfig
  flow-typed/libdefs.js
  src/action-type.js
  src/actions/article.js
  src/actions/todo.js
  src/actions/user.js
  src/config-store.js
  src/reducers/article.js
  src/reducers/index.js
  src/reducers/todo.js
  src/reducers/user.js
Due: prettier --write, eslint --fix, git add .

Rename components and containers
  src/components/About/index.js
  src/components/Comp2/index.js
  src/components/Comp3/index.js
  src/components/Contact/index.js
  src/components/Todo/index.js
  src/components/index.js
  src/containers/About.js
  src/containers/Contact.js
  src/containers/NotFound/index.js
  src/containers/Todo.js
  src/containers/index.js
  src/routes/index.js
Due: prettier --write, eslint --fix, git add .

Style Todo with css modules
  flow-typed/libdefs.js
  src/components/Contact/index.js
  src/components/Todo/index.js
  src/components/Todo/style.module.css
  src/containers/NotFound/index.js
  src/index.css
Due: prettier --write, eslint --fix, git add ., stylelint --fix

Create a new Input component to improve performance
  .eslintrc.js
  flow-typed/states.js
  flow-typed/types.js
  package.json
  src/components/Input/index.js
  src/components/Todo/index.js
  src/containers/Todo.js
  src/reducers/todo.js
Due: prettier --write, eslint --fix, git add .

Fix npm issues
  package.json
  yarn.lock
Due: none

Fix: Prettier issues
  src/containers/Todo.js
  src/selectors/user.js
Due: prettier --write, eslint --fix, git add .

Update create app
  .env.development.local
  .eslintignore
  .gitignore
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/serviceWorker.js
  src/setupTests.js
  yarn.lock
Due: prettier --write, eslint --fix, git add .

Remove environment file
  .env.development
Due: none

Test husky and lint staged
  .huskyrc
  package.json
  yarn.lock
Due: none

Update testing packages
  .huskyrc
  .lintstagedrc
  package.json
  src/actions/todo.js
  src/constants/action-type.js
  src/reducers/todo.js
  yarn.lock
Due: prettier --write, eslint --fix, git add .

Reorganize folder structure
  src/index.js
  src/store/config-store.js
Due: prettier --write, eslint --fix, git add .

Update the package redux-persist
  package.json
  yarn.lock
Due: none

Update lint-staged
  .lintstagedrc
  package.json
  yarn.lock
Due: none

Update the package prettier
  package.json
  yarn.lock
Due: none

Update eslint-config-airbnb
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, git add .

Update eslint-plugin-flowtype
  package.json
  yarn.lock
Due: none

Update all outdated npm packages
  package.json
  yarn.lock
Due: none

Update stylelint config
  .stylelintrc
Due: none

Update the styelint config
  .stylelintrc
Due: none

Make stylelint work well with prettier
  .eslintrc.js
  .prettierrc
  .stylelintrc
  package.json
  src/components/Input/index.js
  src/components/Todo/index.js
  src/components/Todo/style.module.css
  src/containers/About.js
  src/containers/Contact.js
  src/reducers/index.js
  yarn.lock
Due: prettier --write, eslint --fix, git add ., stylelint --fix

Configure jest and enzyme
  .eslintrc.js
  package.json
  src/components/Contact/index.js
  src/components/index.js
  src/containers/Contact.js
  src/containers/index.js
  src/routes/async-import.js
  src/routes/index.js
  src/setupTests.js
  yarn.lock
Due: prettier --write, eslint --fix, git add .

Rename the files
  src/components/About/About.js
  src/components/Input/Input.js
  src/components/NotFound/NotFound.js
  src/components/Todo/Todo.js
  src/components/index.js
  src/containers/NotFound.js
Due: prettier --write, eslint --fix, git add .

Fix lint errors
  src/selectors/user.js
Due: prettier --write, eslint --fix, git add .

Verifying a unit test
  .eslintrc.js
  .lintstagedrc
  flow-typed/global.js
  package.json
  src/components/About/About.js
  src/components/About/About.test.js
  yarn.lock
Due: prettier --write, eslint --fix, git add .

Fix eslint issues
  package.json
  src/containers/Todo.js
  src/index.css
  src/index.js
  src/reducers/todo.js
  src/store/config-store.js
  src/utils/api.js
  src/utils/query-params.js
Due: prettier --write, eslint --fix, git add ., stylelint --fix

Fix eslint issues
  .eslintrc
  .eslintrc.js
Due: prettier --write, eslint --fix, git add .

Update README
  README.md
Due: none

Remove react-loadable
  package.json
  yarn.lock
Due: none

Add support for code splitting in routes
  src/routes/async-import.js
  src/routes/index.js
Due: prettier --write, eslint --fix, git add .

Create a separate file for global variables
  .eslintrc
  flow-typed/global.js
  src/components/About/About.test.js
  src/constants/global.js
  src/index.js
  src/setupTests.js
Due: prettier --write, eslint --fix, git add .

Update README.md
  README.md
Due: none

Add package eslint-plugin-react-hooks
  package.json
  yarn.lock
Due: none
